body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.choice-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: max-content;
    border: 3px solid;
    border-radius: 10px;
}

.choice-card {
    width: 160px;
    margin-bottom: 10px;
    flex-shrink: 1;
}

.choice-card-text {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
}

.score-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.score-card {
    width: 20%;
}