body {
    width: 80%;
    margin: 0 auto;
    padding: 0;   
}

.heading {
    text-align: center;
}

.choice-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.choice-card {
    width: 25%;
    height: max-content;
}